@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-pink: #ee415f;
    --color-green: #58ce97;
    --color-orange: #fc7d4a;
    --color-red: #d14758;
    --color-pale-pink: #ef6e85;
    --color-coral: #f3907e;
    --color-peach: #ecb38d;
    --color-aqua: #a0ded0;
    --color-pale-aqua: #c0ebe1;
    --color-lightest-blue: #f8fcff;
    --color-blue: #4c88e9;
    --color-black: #242e39;
    --color-gray-1: #3b424b;
    --color-gray-2: #68707d;
    --color-gray-3: #949fab;
    --color-gray-4: #c7cdd4;
    --color-gray-5: #edf1f6;
    --color-gray-6: #f7f9fb;
    --color-white: #fff;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  html {
    box-sizing: border-box;
  }

  /* a {
    color: var(--color-pink);
  } */

  p {
    margin: 0;
  }

  p + p {
    margin-top: 16px;
  }

  kbd,
  code {
    padding: 4px;

    border-radius: 4px;
    background-color: var(--color-gray-6);
    color: var(--color-gray-1);

    box-decoration-break: clone;

    font-size: 14px;
  }

  .app {
    width: 720px;
    margin: 0 auto 48px;
  }

  .editor {
    position: relative;

    width: 100%;
    margin-bottom: 48px;
  }

  .menu {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 8px;

    width: calc(100% - 4px);
    height: 40px;
    margin: 0;
    padding: 0 8px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--color-gray-5);
    background-color: var(--color-white);
    color: var(--color-gray-2);
  }

  .bubble-menu-dark,
  .bubble-menu-light {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;

    border-radius: 4px;
  }

  .bubble-menu-dark {
    background-color: var(--color-gray-1);
    color: var(--color-white);
  }

  .bubble-menu-light {
    border: 2px solid var(--color-gray-4);
    background-color: var(--color-white);
    color: var(--color-gray-2);
  }

  .link-menu {
    display: flex;
    align-items: center;
    gap: 8px;

    /* height: 40px; */
    padding: 8px;

    border: 2px solid var(--color-gray-5);
    border-radius: 4px;
    background-color: var(--color-white);
  }

  .button,
  .button-save,
  .button-remove,
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;

    margin: 0;
    padding: 0 8px;

    border: 0;
    border-radius: 4px;
    background: transparent;
    color: currentColor;

    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    font-weight: inherit;

    white-space: nowrap;
    cursor: pointer;
  }

  .menu-button {
    width: 32px;
    padding: 0;
  }

  .button:hover,
  .button.is-active,
  .menu-button:hover,
  .menu-button.is-active {
    background-color: var(--color-gray-5);
    color: var(--color-black);
  }

  .button:disabled,
  .menu-button:disabled {
    color: var(--color-gray-4);
  }

  .button-save {
    background-color: var(--color-green);
    color: var(--color-white);
  }

  .button-remove {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  .button-remove:disabled {
    background-color: var(--color-pale-pink);
  }

  /* Basic editor styles */
  .ProseMirror {
    margin-top: 4px;
    padding: 48px 8px 8px;

    border: 2px solid var(--color-gray-4);
    border-radius: 4px;
  }

  .editor-mini .ProseMirror {
    padding-top: 8px;
  }

  .ProseMirror-focused {
    border-color: var(--color-black);
    outline: none;
  }

  .modal-close:hover {
    background-color: var(--color-gray-5);
    color: var(--color-black);
  }

main section , h1{
    font-family:Arial, Helvetica, sans-serif;
}
.section::before {
    content: "";
    position: absolute;
    left:0;
    height: 100%;
    width:10px;
    background:#d0940a
}

.shadow-class {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}